
<div class="result-container">
  <h1>Dog Breed AI</h1>
  <p class="subtitle">Discover your dog's breed with AI technology</p>
  <!--<img class="dog-image" src="assets/images/dog.svg" alt="">-->

  <input #fileInput
         type="file"
         hidden
         (change)="onFileSelected($event)">

  <button (click)="fileInput.click()">
    Choose Dog Image
  </button>

  <img *ngIf="imageUrl" [src]="imageUrl" width="300">

  <div *ngIf="uploadInfo">
    <p>Breed: {{uploadInfo.breed}} </p>
    <p>Confidence: {{(uploadInfo.confidence * 100).toFixed(2)}} %</p>
    <p>Description: {{ uploadInfo?.description }}</p>
  </div>
</div>


